.App {
  text-align: center;
}

.App--header {
  height: 100px;
  background-color: #282c34;
  min-height: 50%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header--title {
  color: lightgreen;
  font-weight: bold;
  font-size: 50px;
  transform: rotate(-2deg);
}
.hello {
  padding: 30px;
  font-size: 36px;
}
.api--button {
  border-radius: 15px;
  border: 2px solid black;
  background-color: black;
  color: lightgreen;
  font-size: 20px;
  width: 100px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}
.api--button:hover {
  transform: scale(1.03);
  box-shadow: 1px 5px 5px green;
}
.form--input {
  text-align: center;
  color: grey;
  font-size: 20px;
  height: 40px;
  width: 500px;
  border: 2px solid #BADA55;
  border-radius: 15px;
}
.form--input:focus {
  outline: none;
  box-shadow: 2px 5px 5px #BADA55;
}
.form--input::placeholder {
  font-weight: lighter;
}
.post--message {
  padding-top: 150px;
  margin: 0 auto;
  width: 1000px;
  font-size: 60pt;
  font-family: 'Luckiest Guy',serif;
  color: #C0FF33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 -6px 0 #212121,
  0 -6px 0 #212121,
  0 6px 0 #212121,
  0 6px 0 #212121,
  -6px 0 0 #212121,
  6px 0 0 #212121,
  -6px 0 0 #212121,
  6px 0 0 #212121,
  -6px -6px 0 #212121,
  6px -6px 0 #212121,
  -6px 6px 0 #212121,
  6px 6px 0 #212121,
  -6px 18px 0 #212121,
  0 18px 0 #212121,
  6px 18px 0 #212121,
  0 19px 1px rgba(0,0,0,.1),
  0 0 6px rgba(0,0,0,.1),
  0 6px 3px rgba(0,0,0,.3),
  0 12px 6px rgba(0,0,0,.2),
  0 18px 18px rgba(0,0,0,.25),
  0 24px 24px rgba(0,0,0,.2),
  0 36px 36px rgba(0,0,0,.15);
  cursor: default;
}
.copy--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-weight: lighter;
  background-color: black;
  color: lightgreen;
  position: absolute;
  text-align: center;
  bottom: 0;
  font-size: 26px;
  cursor: default;
}